{% extends 'base.html' %}

{% block content %}
{% include 'includes/header.html' %}
<main>
  
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">
  
        <!-- Main content START -->
        <div class="col-lg-8 vstack gap-4">
          <!-- My profile START -->
          {% include 'profile/nav-profile.html' %}
            <!-- My profile END -->
    
        <!-- Main content END -->
        <div class="card">
          <!-- Card header START -->
          
          <div class="card-header border-0 pb-0">
            {% include 'includes/alerts.html' %}
              <h5 class="card-title"> Profile Info</h5> 
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            {% if request.user.username == user.username %}
            <form action="{% url 'about' user.username %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="card-body">
              
              <div class="row g-4">
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <div class="mb-0">
                      <img class="avatar-img rounded-circle border border-white border-3" style="width: 200px; height: 200px" src="{{form.instance.img.url}}" alt="">
                      <div>
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Avatar: {{form.img}}
                    </div>
                    </div>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <div class="mb-0">
                      <img class="avatar-img rounded-circle border border-white border-3" style="width: 200px; height: 200px" src="{{form.instance.cover_img.url}}" alt="">
                      <div>
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Cover avatar: {{form.cover_img}}
                    </div>
                    </div>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
                <div class="rounded border px-3 py-2 mb-3"> 
                  <div class="d-flex align-items-center justify-content-between">
                    <h6>Overview</h6>
                    
                  </div>
                  {{form.overview}}
                </div>
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Born: {{form.born}}
                    </p>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
                <div class="col-sm-6 ">
                  <!-- Status START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
 
                    <p class="mb-0">
                      <i class="bi bi-heart fa-fw me-2"> </i> Status: <strong>{{form.status}} </strong>
                    </p>
                  
                    
                  </div>
                  <!-- Status END -->
                </div>
                <div class="col-sm-6">
                  <!-- Designation START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-briefcase fa-fw me-2"></i>Work: <strong> {{form.work}}</strong>
                    </p>
                    
                  </div>
                  <!-- Designation END -->
                </div>
                <div class="col-sm-6">
                  <!-- Lives START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-geo-alt fa-fw me-2"></i> Lives in: <strong> {{form.current_city}} </strong>
                    </p>
                   
                  </div>
                  <!-- Lives END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="fa fa-house"></i> Home town: <strong> {{form.hometown}}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="fa fa-graduation-cap"></i> Education: <strong> {{form.education}}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-geo-alt fa-fw me-2"></i> Joined on: <strong> {{user.date_joined}}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-envelope fa-fw me-2"></i> Gender: <strong> {{form.gender}}</strong>
                    </p>
                   
                  </div>
                  <!-- Joined on END -->  
                </div>
                <div class="col-sm-6">
                <button class="btn btn-primary" style="width:20%" type="submit">Save</button>
              </div>
              </div>
            </div>
            
          
            </form>
            {% else %}
            <div class="card-body">
              
              <div class="row g-4">
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <div class="mb-0">
                      <img class="avatar-img rounded-circle border border-white border-3" style="width: 200px; height: 200px" src="{{user.profile.img.url}}" alt="">
                      <div>
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Avatar
                    </div>
                    </div>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <div class="mb-0">
                      <img class="avatar-img rounded-circle border border-white border-3" style="width: 200px; height: 200px" src="{{user.profile.cover_img.url}}" alt="">
                      <div>
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Cover avatar
                    </div>
                    </div>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
              
                <div class="rounded border px-3 py-2 mb-3"> 
                  <div class="d-flex align-items-center justify-content-between">
                    <h6>Overview</h6>
                    
                  </div>
          
                  <p>{% if user.profile.overview %} {{user.profile.overview}}{% else %}<input class="form-control" type="text" disabled>{% endif %}</p>
        
                </div>
                
               
                <div class="col-sm-6">
                  <!-- Birthday START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-calendar-date fa-fw me-2"></i> Born:{% if user.born %} {{user.profile.born}}{% else %}<input class="form-control" type="date" disabled>{% endif %}
                    </p>
                   
                  </div>
                  <!-- Birthday END -->
                </div>
            
                <div class="col-sm-6 ">
                  <!-- Status START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
 
                    <p class="mb-0">
                      <i class="bi bi-heart fa-fw me-2"> </i> Status: <strong>{% if user.profile.status %} {{user.profile.status}}{% else %}<input class="form-control" type="select" disabled>{% endif %} </strong>
                    </p>
                  
                    
                  </div>
                  <!-- Status END -->
                </div>
                <div class="col-sm-6">
                  <!-- Designation START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-briefcase fa-fw me-2"></i>Work: <strong> {% if user.profile.work %} {{user.profile.work}}{% else %}<input class="form-control" type="text" disabled>{% endif %}</strong>
                    </p>
                    
                  </div>
                  <!-- Designation END -->
                </div>
                <div class="col-sm-6">
                  <!-- Lives START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-geo-alt fa-fw me-2"></i> Lives in: <strong>{% if user.profile.current_city %} {{user.profile.current_city}}{% else %}<input class="form-control" type="text" disabled>{% endif %} </strong>
                    </p>
                   
                  </div>
                  <!-- Lives END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="fa fa-house"></i> Home town: <strong>{% if user.profile.hometown %} {{user.profile.hometown}}{% else %}<input class="form-control" type="text" disabled>{% endif %}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="fa fa-graduation-cap"></i> Education: <strong>{% if user.profile.education %} {{user.profile.education}}{% else %}<input class="form-control" type="text" disabled>{% endif %}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-geo-alt fa-fw me-2"></i> Joined on: <strong> {{user.date_joined}}</strong>
                    </p>
                    
                  </div>
                  <!-- Joined on END -->
                </div>
                <div class="col-sm-6">
                  <!-- Joined on START -->
                  <div class="d-flex align-items-center rounded border px-3 py-2"> 
                    <!-- Date -->
                    <p class="mb-0">
                      <i class="bi bi-envelope fa-fw me-2"></i> Gender: <strong>{% if user.profile.gender %} {{user.profile.gender}}{% else %}<input class="form-control" type="text" disabled>{% endif %}</strong>
                    </p>
                   
                  </div>
                  <!-- Joined on END -->  
                </div>
                
              </div>
            </div>
            {% endif %}
            <!-- Card body END -->
          </div>
          <!-- Card feed item END -->

          <!-- Card feed item START -->
      
          <!-- Card feed item END -->

        </div>
        <!-- Right sidebar START -->
       {% include 'profile/profile-sidebar.html' %}
        <!-- Right sidebar END -->
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
  {% include 'includes/friends_sidebar.html' %}
{% endblock %}