{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/header.html' %}

<main>

  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Advanced filter responsive toggler START -->
        <div class="d-flex align-items-center d-lg-none">
          <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>

        <!-- Navbar START-->
        {% include 'includes/navbar.html' %}
        <!-- Navbar END-->
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">
          <div class="card-header py-3 border-0 d-flex align-items-center justify-content-between">
            <h1 class="h5 mb-0">People</h1>
            <!-- Notification action START -->

            <!-- Notification action END -->
          </div>
          <div class="card-body p-2">
            <ul class="list-unstyled">
              <!-- Notif item -->
              {% if not people %}
              <h3 style="text-align:center">Not Found</h3>
              {% else %}
              {% for user in people %}
              <li>

                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar me-3">
                    <a href="{{user.profile.get_url}}"> <img class="avatar-img rounded-circle"
                        src="{{user.profile.img.url}}" alt=""> </a>
                  </div>
                  <!-- Info -->
                  <div>
                    <h6 class="card-title mb-0"><a href="{{user.profile.get_url}}"> {{user.full_name}} </a></h6>
                    <p class="small">@{{user.username}}</p>
                  </div>
                  <div id="friend_request{{user.id}}" class="d-flex mt-3 justify-content-center ms-sm-auto">
                    {% if user.id in friend_request %}
                    <a href="{% url 'accept_friend_request' user.id %}" class="btn btn-danger-soft me-2 friend_request">
                      <i class="fa fa-plus pe-1"></i><i class="fa fa-user  pe-1"></i> Accept</a>

                    {% else %}

                    {% if user in request.user.profile.friends.all %}
                    <a class="btn btn-primary-soft me-2" id="profileAction2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="fa fa-user-check"></i> Friend
                    </a>
                    <!-- Card share action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                      <li><a class="dropdown-item friend_request" href="{% url 'remove_friend' user.id %}"> <i
                            class="fas fa-user-times"></i> Unfriend</a></li>
                    </ul>
                    {% elif user.id in recveiver  %}
                    <a href="{% url 'send_friend_request' user.id %}" class="btn btn-danger-soft me-2 friend_request"><i
                        class="fa fa-user-minus"></i> Cancel request</a>
                    {% else %}
                    <a href="{% url 'send_friend_request' user.id %}"
                      class="btn btn-primary-soft me-2 friend_request"><i class="fa fa-user-plus"></i> Add friend </a>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>

              </li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>

        </div>
      </div>

    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
{% endblock %}