{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
<main>


    <!-- Container START -->
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
            <!-- Main content START -->
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                <!-- Sign in START -->
                <div class="card card-body text-center ">
                   
                    <!-- Title -->
                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h1>

                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                 
                        <button id="reset_password" class="btn btn-primary" type="submit" name="action" >Change password</button>
                    </form>   
                    {% endif %}




                    <!-- Form END -->
                </div>
                <!-- Sign in START -->
            </div>
            
        </div> <!-- Row END -->
    </div>
    <!-- Container END -->

</main>
{% endblock %}