{% if post.root is not None %}
<div class="card" id="{{post.id}}" {% if forloop.last %} hx-get="{% url 'get_next_post' %}?offset={{offset}}"
  hx-trigger="revealed" hx-swap="afterend" hx-indicator="#spinner-footer" {% endif %} hx-target="this"
  hx-swap="outerHTML">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="avatar me-2">
          <a href="{{post.author.profile.get_url}}"> <img class="avatar-img rounded-circle"
              src="{{post.author.profile.img.url}}" alt=""> </a>
        </div>
        <!-- Info -->
        <div>
          <h6 class="card-title mb-0"> <a href="{% url 'posts' post.author.username %}">
              {{post.author.first_name}} {{post.author.last_name}} </a>
            <p style="display:inline;font-weight: normal;">shared a post</p>
          </h6>
          <div class="nav nav-divider">
            <p class="nav-item mb-0 small">{{post.created_at | timesince}} ago {% if post.edite %}(Edited){% endif %}
            </p>
          </div>
        </div>
      </div>
      <!-- Card share action START -->
      {% if post.author == request.user or request.user.is_staff %}
      <div class="dropdown">
        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
        </a>
        <!-- Card feed action dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">

          <li><button hx-get="{% url 'update_post' post.id %}" hx-swap="outerHTML" class="dropdown-item"
              hx-indicator="#spinner"> <i class="bi bi-bookmark fa-fw pe-2"></i>Edite </button></li>
          <li><a class="dropdown-item" onclick="confirm('Are you sure?')&& delete_post('{{post.id}}')"
              style="cursor: pointer;"> <i class="bi bi-x-circle fa-fw pe-2"></i>Delete post</a></li>

        </ul>
      </div>
      {% endif %}
      <!-- Card share action END -->
    </div>
  </div>
  <div class="card-body">
    
    <p style="margin:0" >{{post.content}} </p>
    <!-- Card feed grid START -->
    <div class="card">
      <!-- Card header START -->
      <div class="card-header border-0 pb-0">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <!-- Avatar -->
            <div class="avatar me-2">
              <a href="{{post.root.author.profile.get_url}}"> <img class="avatar-img rounded-circle"
                  src="{{post.root.author.profile.img.url}}" alt=""> </a>
            </div>
            <!-- Info -->
            <div>
              <h6 class="card-title mb-0"> <a href="{% url 'posts' post.root.author.username %}">
                  {{post.root.author.first_name}} {{post.root.author.last_name}} </a></h6>
              <div class="nav nav-divider">
                <p class="nav-item mb-0 small">{{post.root.created_at | timesince}} ago
                  {% if post.root.edite %}(Edited){% endif %}</p>
              </div>
            </div>
          </div>
          <!-- Card share action START -->

          <!-- Card share action END -->
        </div>
      </div>
      <div class="card-body">
        <p style="margin:0">{{post.root.content}} </p>
        <!-- Card feed grid START -->


        {% if post.root.media_set.count == 1 %}
        {% if '.video' in post.root.media_set.get.img.url or '.mp4' in post.root.media_set.get.img.url %}
        <video class="player-html" preload="auto" controls>
          <source src="{{post.root.media_set.get.img.url}}" type="video/mp4">
        </video>

        {% else %}
        <a class="card-img " href="{{post.root.media_set.get.img.url}}" data-glightbox
          data-gallery="image-popup{{post.root.id}}">
          <img class="rounded img-fluid" src="{{post.root.media_set.get.img.url}}" alt="Image" style="border:groove">
        </a>
        {% endif %}
        {% elif post.root.media_set.count == 2 %}
        <div class="d-flex justify-content-between">
          <div class="row g-3">
            <!-- <img class="card-img" src="{{post.media_set.img.url}}" alt="Post"> -->
            {% for file in post.root.media_set.all %}
            <div class="col-6">
              <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.root.id}}">
                {% if '.video' in file.img.url or '.mp4' in file.img.url %}
                <video class="player-html" controls style="width:100%;height:100%">
                  <source src="{{file.img.url}}" type="video/mp4">
                </video>
                {% else %}
                <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image"
                  style="border:groove;width:100%;height:100%">
                {% endif %}
              </a>
            </div>

            {% endfor %}

          </div>
        </div>
        {% elif post.root.media_set.count >= 3 %}
        <div class="d-flex justify-content-between">

          <div class="row g-3">

            <div class="col-6">
              <!-- Grid img -->
              {% for file in post.root.media_set.all %}
              {% if forloop.counter == 1 %}
              <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.root.id}}">
                {% if '.video' in file.img.url or '.mp4' in file.img.url %}
                <video class="player-html" controls>
                  <source src="{{file.img.url}}" type="video/mp4">
                </video>
                {% else %}
                <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image"
                  style="width:100%;height:100%;border:groove">
                {% endif %}
              </a>
              {% endif %}
              {% endfor %}
            </div>
            <div class="col-6">
              <!-- Grid img -->

              {% for file in post.root.media_set.all %}
              {% if forloop.counter == 2 %}
              <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.root.id}}">
                {% if '.video' in file.img.url or '.mp4' in file.img.url %}
                <video class="player-html" controls>
                  <source src="{{file.img.url}}" type="video/mp4">
                </video>
                {% else %}
                <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image" style="border:groove">
                {% endif %}
              </a>
              {% endif %}
              {% endfor %}
              <!-- Grid img -->
              <div class="position-relative bg-dark mt-3 rounded">
                {% if post.root.media_set.all.count > 3  %}
                <div class="hover-actions-item position-absolute top-50 start-50 translate-middle z-index-9">
                  <a class="btn btn-link text-white" href="#"> View all </a>
                </div>
                {% endif %}
                {% for file in post.root.media_set.all %}
                {% if forloop.counter == 3 %}
                <a href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.root.id}}">

                  {% if '.video' in file.img.url or '.mp4' in file.img.url %}
                  <video class="player-html" controls>
                    <source src="{{file.img.url}}" type="video/mp4">
                  </video>
                  {% else %}
                  <img class="img-fluid {% if post.root.media_set.all.count > 3 %}opacity-50{% endif %} rounded"
                    src="{{file.img.url}}" alt="Image" style="border:groove">
                  {% endif %}
                </a>

                {% elif forloop.counter > 3 %}
                {% if '.video' in file.img.url or '.mp4' in file.img.url %}
                <video class="player-html" controls>
                  <source src="{{file.img.url}}" type="video/mp4">
                </video>
                {% else %}
                <a href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.root.id}}">
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}

              </div>
            </div>

          </div>

        </div>

        {% endif %}
        <!-- Card feed grid END -->


        <!-- Comment wrap START -->

        <!-- Comment wrap END -->
      </div>

    </div>
    <!-- Feed react START -->
    <ul class="nav nav-pills nav-pills-light nav-fill nav-stack small border-top border-bottom py-1 mb-3">
      <li class="nav-item">

        <button type="submit" class="nav-link mb-0" name="like" value="{{post.id}}"
          style="{% if request.user in post.likes.all %}color: red {% endif %}"> <i class="fa fa-heart pe-1"></i>Like
          {% if post.likes.count > 0 %}({{post.likes.count}}){% endif %}</button>

      </li>
      <!-- Card share action menu START -->
      <li class="nav-item dropdown">
        <a id="comment_count{{post.id}}" onclick="showcomment('post-comment{{post.id}}')" class="nav-link mb-0 comments"
          id="comment{{post.id}}" data-bs-toggle="dropdown" aria-expanded="false" ">
          <i  class=" fa fa-comment-o pe-1"></i>Comments
          {% if post.commentpost_set.count > 0 %}({{post.commentpost_set.all.count}}){% endif %}
        </a>
        <!-- Card share action dropdown menu -->

      </li>
      <!-- Card share action menu END -->
      <li class="nav-item dropdown ms-sm-auto">
        <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share
        </a>
        <!-- Card share action dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
          <li>
            <input type="hidden" value="{{post.get_url}}">
            <button class="dropdown-item liveToastBtn" name="copy"
              onclick="{navigator.clipboard.writeText(window.location.origin+'{{post.get_url}}');}"> <i
                class="bi bi-link fa-fw pe-2"></i>Copy link to post</button></li>
                {% if request.user.is_authenticated %}
          <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_sharepost{{post.root.id}}"
              hx-get="{% url 'post_data_share' post.root.id %}" hx-target="#share_post{{post.root.id}}" hx-swap="outerHTML"
              hx-indicator="#spinner">
              <i class="bi bi-share fa-fw pe-2"></i>Share post via …
            </button></li>
            {% endif %}
        </ul>
      </li>
    </ul>
    <!-- Feed react START -->
    <!-- Comment wrap START -->
    <span id="post-comment{{post.id}}" style="display:none">
      {% if request.user.is_authenticated %}
      <div class="d-flex mb-3">

        <!-- Avatar -->
        <div class="avatar avatar-xs me-2">
          <a href="#!"> <img class="avatar-img rounded-circle" src="{{request.user.profile.img.url}}" alt=""> </a>
        </div>
        <!-- Comment box  -->
        <form class="w-100 CommentForm" method="POST" data-post="{{post.id}}" data-url="{% url 'comment' post.id %}">
          {% csrf_token %}
          <input class="form-control pe-4 bg-light" rows="1" placeholder="Add a comment..." name="comment" required>
          <input class="form-control pe-4 bg-light" type="hidden" name="commentparent" value="">
        </form>

      </div>
      {% endif %}
      <ul class="comment-wrap{{post.id}} list-unstyled">
        <!-- Comment item START -->

        {% include 'post/comments.html' %}
      </ul>
    </span>
    <!-- Comment wrap END -->
  </div>
  <form class="w-100" method="POST" hx-post="{% url 'share_post' post.root.id %}" hx-target="#post" hx-swap="afterbegin"
    hx-indicator="#spinner" _="on htmx:afterOnLoad call liveToast('Shared!')">
    {% csrf_token %}
    <div class="modal fade" id="modal_sharepost{{post.root.id}}" tabindex="-1" aria-labelledby="modalLabelsharepost"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelsharepost">Create post</h5>
            <button type="button" name="content" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex mb-3">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img rounded-circle" src="{{request.user.profile.img.url}}" alt="">
              </div>
              <textarea class="form-control pe-4 fs-3 lh-1 border-0" name="content_share" rows="2"
                placeholder="Share your thoughts......"></textarea>

            </div>
          </div>
          <div id="share_post{{post.root.id}}">
            <!-- HTMX get -->
          </div>
          <!-- Modal feed footer -->
          <div class="modal-footer row justify-content-between">
            <!-- Select -->
            <div class="col-lg-8 text-sm-end">
              <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal"
                aria-label="Close">Cancel</button>
              <button name="share_post" data-bs-dismiss="modal" type="submit"
                class="btn btn-success-soft ">Post</button>
            </div>
          </div>
          <!-- Modal feed footer -->
        </div>
      </div>
    </div>

  </form>
</div>
{% else %}

<div class="card" id="{{post.id}}" {% if forloop.last %} hx-get="{% url 'get_next_post' %}?offset={{offset}}"
  hx-trigger="revealed" hx-swap="afterend" hx-indicator="#spinner-footer" {% endif %} hx-target="this"
  hx-swap="outerHTML">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="avatar me-2">
          <a href="{{post.author.profile.get_url}}"> <img class="avatar-img rounded-circle"
              src="{{post.author.profile.img.url}}" alt=""> </a>
        </div>
        <!-- Info -->
        <div>
          <h6 class="card-title mb-0"> <a href="{% url 'posts' post.author.username %}">
              {{post.author.first_name}} {{post.author.last_name}} </a></h6>
          <div class="nav nav-divider">
            <p class="nav-item mb-0 small">{{post.created_at | timesince}} ago {% if post.edite %}(Edited){% endif %}
            </p>
          </div>
        </div>
      </div>
      <!-- Card share action START -->
      {% if post.author == request.user or request.user.is_staff %}
      <div class="dropdown">
        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
        </a>
        <!-- Card feed action dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">

          <li><button hx-get="{% url 'update_post' post.id %}" hx-swap="outerHTML" class="dropdown-item"
              hx-indicator="#spinner"> <i class="bi bi-bookmark fa-fw pe-2"></i>Edite </button></li>
          <li><a class="dropdown-item" onclick="confirm('Are you sure?')&& delete_post('{{post.id}}')"
              style="cursor: pointer;"> <i class="bi bi-x-circle fa-fw pe-2"></i>Delete post</a></li>

        </ul>
      </div>
      {% endif %}
      <!-- Card share action END -->
    </div>
  </div>
  <div class="card-body" >
    <p style="margin:0" >{{post.content}} </p>
    <!-- Card feed grid START -->


    {% if post.media_set.count == 1 %}
    {% if '.video' in post.media_set.get.img.url or '.mp4' in post.media_set.get.img.url %}
    <video class="player-html" preload="auto" controls>
      <source src="{{post.media_set.get.img.url}}" type="video/mp4" style="border-style: solid">
    </video>

    {% else %}
    <a class="card-img " href="{{post.media_set.get.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">
      <img class="rounded img-fluid" src="{{post.media_set.get.img.url}}" alt="Image" style="border-style: solid">
    </a>
    {% endif %}
    {% elif post.media_set.count == 2 %}
    <div class="d-flex justify-content-between">
      <div class="row g-3">
        <!-- <img class="card-img" src="{{post.media_set.img.url}}" alt="Post"> -->
        {% for file in post.media_set.all %}
        <div class="col-6">
          <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">
            {% if '.video' in file.img.url or '.mp4' in file.img.url %}
            <video class="player-html" controls style="width:100%;height:100%">
              <source src="{{file.img.url}}" type="video/mp4" style="border-style: solid">
            </video>
            {% else %}
            <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image"
              style="border-style: solid;width:100%;height:100%">
            {% endif %}
          </a>
        </div>

        {% endfor %}

      </div>
    </div>
    {% elif post.media_set.count >= 3 %}
    <div class="d-flex justify-content-between">

      <div class="row g-3">

        <div class="col-6">
          <!-- Grid img -->
          {% for file in post.media_set.all %}
          {% if forloop.counter == 1 %}
          <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">
            {% if '.video' in file.img.url or '.mp4' in file.img.url %}
            <video class="player-html" controls>
              <source src="{{file.img.url}}" type="video/mp4" style="border-style: solid">
            </video>
            {% else %}
            <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image"
              style="width:100%;height:100%;border-style: solid">
            {% endif %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-6">
          <!-- Grid img -->

          {% for file in post.media_set.all %}
          {% if forloop.counter == 2 %}
          <a class="h-100" href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">
            {% if '.video' in file.img.url or '.mp4' in file.img.url %}
            <video class="player-html" controls>
              <source src="{{file.img.url}}" type="video/mp4" style="border-style: solid">
            </video>
            {% else %}
            <img class="rounded img-fluid" src="{{file.img.url}}" alt="Image" style="border-style: solid">
            {% endif %}
          </a>
          {% endif %}
          {% endfor %}
          <!-- Grid img -->
          <div class="position-relative bg-dark mt-3 rounded">
            {% if post.media_set.all.count > 3  %}
            <div class="hover-actions-item position-absolute top-50 start-50 translate-middle z-index-9">
              <a class="btn btn-link text-white" href="#"> View all </a>
            </div>
            {% endif %}
            {% for file in post.media_set.all %}
            {% if forloop.counter == 3 %}
            <a href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">

              {% if '.video' in file.img.url or '.mp4' in file.img.url %}
              <video class="player-html" controls>
                <source src="{{file.img.url}}" type="video/mp4" style="border-style: solid">
              </video>
              {% else %}
              <img class="img-fluid {% if post.media_set.all.count > 3 %}opacity-50{% endif %} rounded"
                src="{{file.img.url}}" alt="Image" style="border-style: solid">
              {% endif %}
            </a>

            {% elif forloop.counter > 3 %}
            {% if '.video' in file.img.url or '.mp4' in file.img.url %}
            <video class="player-html" controls>
              <source src="{{file.img.url}}" type="video/mp4" style="border-style: solid">
            </video>
            {% else %}
            <a href="{{file.img.url}}" data-glightbox data-gallery="image-popup{{post.id}}">
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}

          </div>
        </div>

      </div>

    </div>

    {% endif %}
    <!-- Card feed grid END -->

    <!-- Feed react START -->
    <ul class="nav nav-stack py-3 small">
      <li class="nav-item">
        <!-- <a class="nav-link active text-secondary" href="#!"> <i
            class="bi bi-heart-fill me-1 icon-xs bg-danger text-white rounded-circle"></i> Louis, Billy and 126
          others </a> -->
      </li>

    </ul>
    <!-- Feed react END -->

    <!-- Feed react START -->
    <ul class="nav nav-pills nav-pills-light nav-fill nav-stack small border-top border-bottom py-1 mb-3">
      <li class="nav-item">

        <button type="submit" class="nav-link mb-0" name="like" value="{{post.id}}"
          style="{% if request.user in post.likes.all %}color: red {% endif %}"> <i class="fa fa-heart pe-1"></i>Like
          {% if post.likes.count > 0 %}({{post.likes.count}}){% endif %}</button>

      </li>
      <!-- Card share action menu START -->
      <li class="nav-item dropdown">
        <a id="comment_count{{post.id}}" onclick="showcomment('post-comment{{post.id}}')" class="nav-link mb-0 comments"
          id="comment{{post.id}}" data-bs-toggle="dropdown" aria-expanded="false" ">
          <i  class=" fa fa-comment-o pe-1"></i>Comments
          {% if post.commentpost_set.count > 0 %}({{post.commentpost_set.all.count}}){% endif %}
        </a>
        <!-- Card share action dropdown menu -->

      </li>
      <!-- Card share action menu END -->
      <li class="nav-item dropdown ms-sm-auto">
        <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share
        </a>
        <!-- Card share action dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
          <li>
            <input type="hidden" value="{{post.get_url}}">
            <button class="dropdown-item liveToastBtn" name="copy"
              onclick="{navigator.clipboard.writeText(window.location.origin+'{{post.get_url}}');}"> <i
                class="bi bi-link fa-fw pe-2"></i>Copy link to post</button></li>
                {% if request.user.is_authenticated %}
          <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_sharepost{{post.id}}"
              hx-get="{% url 'post_data_share' post.id %}" hx-target="#share_post{{post.id}}" hx-swap="outerHTML" hx-indicator="#spinner">
              <i class="bi bi-share fa-fw pe-2"></i>Share post via …
            </button></li>
            {% endif %}
        </ul>
      </li>
    </ul>
    <!-- Feed react START -->
    <!-- Comment wrap START -->
    <span id="post-comment{{post.id}}" style="display:none">
      {% if request.user.is_authenticated %}
      <div class="d-flex mb-3">

        <!-- Avatar -->
        <div class="avatar avatar-xs me-2">
          <a href="#!"> <img class="avatar-img rounded-circle" src="{{request.user.profile.img.url}}" alt=""> </a>
        </div>
        <!-- Comment box  -->
        <form class="w-100 CommentForm" method="POST" data-post="{{post.id}}" data-url="{% url 'comment' post.id %}">
          {% csrf_token %}
          <input class="form-control pe-4 bg-light" rows="1" placeholder="Add a comment..." name="comment" required>
          <input class="form-control pe-4 bg-light" type="hidden" name="commentparent" value="">
        </form>

      </div>
      {% endif %}
      <ul class="comment-wrap{{post.id}} list-unstyled">
        <!-- Comment item START -->

        {% include 'post/comments.html' %}
      </ul>
    </span>
    <!-- Comment wrap END -->
  </div>
  <form class="w-100" method="POST" hx-post="{% url 'share_post' post.id %}" hx-target="#post" hx-swap="afterbegin"
    hx-indicator="#spinner" _="on htmx:afterOnLoad call liveToast('Shared!')">
    {% csrf_token %}
    <div class="modal fade" id="modal_sharepost{{post.id}}" tabindex="-1" aria-labelledby="modalLabelsharepost"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelsharepost">Create post</h5>
            <button type="button" name="content" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex mb-3">
              <div class="avatar avatar-xs me-2">
                <img class="avatar-img rounded-circle" src="{{request.user.profile.img.url}}" alt="">
              </div>
              <textarea class="form-control pe-4 fs-3 lh-1 border-0" name="content_share" rows="2"
                placeholder="Share your thoughts......"></textarea>

            </div>
          </div>
          <div id="share_post{{post.id}}">
            <!-- HTMX get -->
          </div>
          <!-- Modal feed footer -->
          <div class="modal-footer row justify-content-between">
            <!-- Select -->
            <div class="col-lg-8 text-sm-end">
              <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal"
                aria-label="Close">Cancel</button>
              <button name="share_post" data-bs-dismiss="modal" type="submit" class="btn btn-success-soft">Post</button>
            </div>
          </div>
          <!-- Modal feed footer -->
        </div>
      </div>
    </div>

  </form>
</div>
{% endif %}